body {
  font-family: 'Heebo', sans-serif;
  /*letter-spacing: 0.05em;*/
  font-weight: 100;
}
p {
  font-size: 12px;
  margin-bottom: 20px;
}
p.border {
  padding-left: 15px;
  border-left: 1px solid #21c2f8;
}
label {
  font-size: 13px;
  letter-spacing: 0.07em;
  align-self: center;
}
h2 {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin: 0 0 10px 0;
}
.centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fadeOut {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.fadeOut.fade {
  opacity: 0;
}
.fadeIn {
  opacity: .5;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.fadeIn.fade {
  opacity: 1;
}

/*GLOBAL COMPONENTS*/
.btn {
  float: left;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 10px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  background: #202020;
  color: #f3f7f8;
  text-decoration: none;
  text-align: center;
}
.btnHover:hover {
  opacity: 1 !important;
  cursor: pointer;
}

/*LOADING BAR*/
.loadingBar {
  position: absolute;
  top: -1px;
  display: inline-block;
  width: 0%;
  height: 0px;
  background: #21c2f8;
  -webkit-transition: width 8s;
  transition: width 8s;
}
.loadingBar.inProgress {
  /*display: block;*/
  height: 1px;
  width: 100%;
}

/*REACT-VIS CHARTS*/
#priceChart .rv-xy-plot {
  height: 220px !important;
}
.rv-xy-plot__axis__line {
  opacity: .1 !important;
}
.rv-xy-plot__axis__tick__line {
  opacity: .5 !important;
}
.rv-crosshair__line {
  background: #21c2f8 !important;
}

/*HARDWARE CONNECTION SCREEN*/
.fadeBackground {
  -webkit-animation: fadeBG ease-in 1s;
  animation: fadeBG ease-in 1s;
  animation-iteration-count: 1;
}
@-webkit-keyframes fadeBG {
  0% { background: rgba(32, 32, 32, 1); }
  100% { background: rgba(32, 32, 32, 0); }
}
@keyframes fadeBG {
  0% { background: rgba(32, 32, 32, 1); }
  100% { background: rgba(32, 32, 32, 0); }
}

/*BLINK TEXT COLOR*/
.blinkText {
  -webkit-animation: flash linear 1s infinite;
  animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
  0% { color: #ffffff; }
  50% { color: #21c2f8; }
  100% { color: #ffffff; }
}
@keyframes flash {
  0% { color: #ffffff; }
  50% { color: #21c2f8; }
  100% { color: #ffffff; }
}

.blinkTextGreen {
  -webkit-animation: flashGreen linear 1s infinite;
  animation: flashGreen linear 1s infinite;
}
@-webkit-keyframes flashGreen {
  0% { color: #ffffff; }
  50% { color: #77dd77; }
  100% { color: #ffffff; }
}
@keyframes flashGreen {
  0% { color: #ffffff; }
  50% { color: #77dd77; }
  100% { color: #ffffff; }
}

.blinkTextRed {
  -webkit-animation: flashRed linear 1s infinite;
  animation: flashRed linear 1s infinite;
}
@-webkit-keyframes flashRed {
  0% { color: #ffffff; }
  50% { color: #ff6161; }
  100% { color: #ffffff; }
}
@keyframes flashRed {
  0% { color: #ffffff; }
  50% { color: #ff6161; }
  100% { color: #ffffff; }
}

.blinkTextWhite {
  -webkit-animation: flashWhite linear 2s infinite;
  animation: flashWhite linear 2s infinite;
}
@-webkit-keyframes flashWhite {
  0% { opacity: 1; }
  50% { opacity: .3; }
  100% { opacity: 1; }
}
@keyframes flashWhite {
  0% { opacity: 1; }
  50% { opacity: .3; }
  100% { opacity: 1; }
}
/*@-webkit-keyframes flashWhite {*/
  /*0% { color: #202020; }*/
  /*50% { color: #ffffff; }*/
  /*100% { color: #202020; }*/
/*}*/
/*@keyframes flashWhite {*/
  /*0% { color: #202020; }*/
  /*50% { color: #ffffff; }*/
  /*100% { color: #202020; }*/
/*}*/

/*CUSTOM STYLED SCROLL BARS*/
.customScroll::-webkit-scrollbar {
  width: 3px;
}
.customScroll::-webkit-scrollbar-track {
  background-color: #202020;
}
.customScroll::-webkit-scrollbar-thumb {
  background-color: #21c2f8;
}

/*REACT SELECT*/
.Select-control {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  background: #202020 !important;
  color: #f3f7f8 !important;
}
.Select-control:hover {
  border: 1px solid rgba(255, 255, 255, 1) !important;
  cursor: pointer;
  opacity: 1;
}
.Select-input {
  padding-left: 8px !important;
}
.Select-input > input {
  color: #ffffff;
  font-weight: 100 !important;
  caret-color: #ffffff;
}
.Select--single > .Select-control .Select-value {
  color: #ffffff !important;
}
.Select.is-open .Select-control {
  border-color: #21c2f8 !important;
  opacity: 1 !important;
}
.Select.has-value .Select-control {
  opacity: 1 !important;
}
.Select-menu-outer {
  max-height: 200px !important;
  border-color: #21c2f8 !important;
}
.Select-menu {
  max-height: 198px !important;
}
.Select-option {
  padding: 6px 8px !important;
  background: #202020 !important;
  color: #ffffff !important;
}
.Select-option:hover {
  background: #383939 !important;
  color: #21c2f8 !important;
}
.Select-clear {
  position: relative;
  top: -2px;
}
.Select-arrow {
  top: -1px;
}

/*ORDER BOOK*/
.orderRow:hover {
  color: #21c2f8;
  cursor: pointer;
}

/*DIAL PAD*/
.pinBtnWrap {
  display: inline-flex;
  justify-content: space-around;
  width: 33%;
  margin-bottom: 15px;
}
.pinBtn {
  float: left;
  font-size: 24px;
  font-weight: 300;
  width: 65px;
  height: 65px;
  border: 2px solid #ffffff;
  border-radius: 45px;
  background: #202020;
  color: #f3f7f8;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pinBtn:hover {
  border-color: #21c2f8 !important;
  cursor: pointer;
}

/*NOTY NOTIFICATIONS*/
/* noty.js styles */
.noty_layout_mixin, #noty_layout__top {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 5000;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  filter: blur(0);
  -webkit-filter: blur(0);
}
#noty_layout__top {
  top: 0;
  width: 100%;
  display: grid;
  justify-content: center;
}
.noty_progressbar {
  display: none; }
.noty_has_timeout.noty_has_progressbar .noty_progressbar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #646464;
  opacity: 0.2;
  filter: alpha(opacity=10); }
.noty_bar {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate(0, 0) translateZ(0) scale(1, 1);
  -ms-transform: translate(0, 0) scale(1, 1);
  transform: translate(0, 0) scale(1, 1);
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden; }
.noty_effects_open {
  opacity: 0;
  -webkit-transform: translate(50%);
  -ms-transform: translate(50%);
  transform: translate(50%);
  -webkit-animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
.noty_effects_close {
  -webkit-animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
.noty_fix_effects_height {
  -webkit-animation: noty_anim_height 75ms ease-out;
  animation: noty_anim_height 75ms ease-out; }
.noty_close_with_click {
  cursor: pointer; }
.noty_close_button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out; }
.noty_close_button:hover {
  background-color: rgba(0, 0, 0, 0.1); }
.noty_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity: .3;
  left: 0;
  top: 0; }
.noty_modal.noty_modal_open {
  opacity: 0;
  -webkit-animation: noty_modal_in .3s ease-out;
  animation: noty_modal_in .3s ease-out; }
.noty_modal.noty_modal_close {
  -webkit-animation: noty_modal_out .3s ease-out;
  animation: noty_modal_out .3s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
@-webkit-keyframes noty_modal_in {
  100% {
    opacity: .3; } }
@keyframes noty_modal_in {
  100% {
    opacity: .3; } }
@-webkit-keyframes noty_modal_out {
  100% {
    opacity: 0; } }
@keyframes noty_modal_out {
  100% {
    opacity: 0; } }
@keyframes noty_modal_out {
  100% {
    opacity: 0; } }
@-webkit-keyframes noty_anim_in {
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1; } }
@keyframes noty_anim_in {
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1; } }
@-webkit-keyframes noty_anim_out {
  100% {
    -webkit-transform: translate(50%);
    transform: translate(50%);
    opacity: 0; } }
@keyframes noty_anim_out {
  100% {
    -webkit-transform: translate(50%);
    transform: translate(50%);
    opacity: 0; } }
@-webkit-keyframes noty_anim_height {
  100% {
    height: 0; } }
@keyframes noty_anim_height {
  100% {
    height: 0; } }
/*NOTY THEME - SUNSET*/
.noty_theme__sunset.noty_bar {
  margin: 11px 0;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
}
.noty_body {
  padding: 10px 100px;
  font-size: 12px;
  font-weight: 300;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}
.noty_buttons {
  padding: 10px;
}
.noty_theme__sunset.noty_type__alert,
.noty_theme__sunset.noty_type__notification {
  background-color: #073B4C;
  color: #fff;
}
.noty_progressbar {
  background-color: #fff;
}
.noty_theme__sunset.noty_type__warning {
  background-color: #FFD166;
  color: #fff;
}
.noty_theme__sunset.noty_type__error {
  background: #202020;
  border: 1px solid #ff6161;
  color: #fff;
}
.noty_progressbar {
  opacity: .4;
}
.noty_theme__sunset.noty_type__info,
.noty_theme__sunset.noty_type__information {
  background-color: #118AB2;
  color: #fff;
}
.noty_progressbar {
  opacity: .6;
}
.noty_theme__sunset.noty_type__success {
  background: #202020;
  border: 1px solid #21c2f8;
  color: #fff;
}

/*BOOTSTRAP*/
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  min-width: 200px;
  max-width: 300px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 14px;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-weight: normal;
  font-size: 14px;
  /*background-color: #f7f7f7;*/
  border-bottom: 1px solid #ebebeb;
  border-radius: 3px 3px 0 0;
}
.popover-content {
  padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  border-width: 10px;
  content: "";
}
.popover.top > .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}
.popover.top > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.popover.right > .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}
.popover.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}
.popover.bottom > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.popover.left > .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px;
}