/*#202020 - Darkest*/
/*#2c3e5o - Slate*/
/*#21c2f8 - Light Blue*/
/*#bdc3c7 - Grey*/
/*f3f7f8 - Light White*/

body {
  font-family: 'Heebo', sans-serif;
}

/*DIAL PAD*/
.pinBtnWrap {
  display: inline-flex;
  justify-content: space-around;
  width: 33%;
  margin-bottom: 15px;
}
.pinBtn {
  float: left;
  font-size: 30px;
  font-weight: 300;
  width: 75px;
  height: 75px;
  border: 2px solid #ffffff;
  border-radius: 45px;
  background: #202020;
  color: #f3f7f8;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pinBtn:hover {
  border-color: #21c2f8;
  cursor: pointer;
}
